<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{caption}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!--Навигация-->
<ul class="bg-dark text-white nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog/">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contacts/">Contact</a>
  </li>
</ul>

<!--Какой-то аккордеон-->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Питание #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Здоровое питание является основой поддержания общего благополучия и жизненной энергии.
          Оно включает в себя баланс белков, жиров и углеводов, а также достаточное потребление витаминов и минералов.
          Употребление большого количества овощей и фруктов обеспечивает организм необходимыми питательными веществами и
          антиоксидантами. Избегание излишнего потребления сахара и обработанных продуктов помогает сохранить
          оптимальный уровень энергии и поддерживает нормальный вес. Включение в рацион цельнозерновых продуктов и
          полезных жиров, таких как орехи и оливковое масло,
          способствует улучшению работы сердечно-сосудистой системы и повышению иммунитета.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Физическая активность #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Регулярная физическая активность играет ключевую роль в поддержании здоровья
          и предотвращении различных заболеваний. Ежедневные занятия спортом укрепляют сердечно-сосудистую систему,
          улучшают обмен веществ и способствуют поддержанию здорового веса. Упражнения не только помогают укрепить мышцы и кости,
          но и способствуют улучшению психоэмоционального состояния, снижая уровень стресса и тревожности.
          Выбор активности может быть разнообразным: от утренней пробежки и йоги до плавания и командных видов спорта,
          что позволяет каждому найти занятие по душе и поддерживать мотивацию.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Психологическое благополучие #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Психологическое благополучие является неотъемлемой частью здорового образа жизни.
          Управление стрессом и поддержание позитивного настроя помогают улучшить качество жизни и укрепить здоровье.
          Техники релаксации, такие как медитация и глубокое дыхание, способствуют снижению уровня
          стресса и повышению устойчивости к жизненным трудностям. Важным аспектом является поддержание социальных связей,
          которое помогает ощущать поддержку и понимание со стороны окружающих. Регулярное времяпрепровождение на свежем воздухе,
          хобби и занятия, приносящие удовольствие, способствуют поддержанию эмоционального баланса и повышению жизненной удовлетворенности.
</div>
    </div>
  </div>
</div>


<!--Футер-->
<footer class="bg-dark text-white mt-5 p-4 text-center">
        <div class="container">
            <p>&copy; 2024 Моя выдуманная компания. Все права защищены.</p>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">{{link}}</a></li>
                <li><a href="#" class="text-white">{{link}}</a></li>
                <li><a href="#" class="text-white">{{link}}</a></li>
            </ul>
        </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>